<div class="card">
	<div class="card-title"><%= gettext("Sign in") %></div>
	<div class="card-body">
		<%= form_for(:user, Routes.user_path(@socket, :sign_in), [class: "form"], fn f -> %>
			<%= text_input(f, :username, placeholder: "Username") %>
			<%= text_input(f, :password, placeholder: "Password", type: "password") %>
			<%= submit "Sign in" %>
		<% end) %>
	</div>
</div>
