<div class="card">
	<div class="card-title">
		Sign in
	</div>
	<div class="card-body">
		<%= form_for(@conn, Routes.user_path(@conn, :sign_in), [class: "form"], fn f -> %>
			<%= text_input(f, :username, placeholder: "Username") %>
			<%= text_input(f, :password, placeholder: "Password", type: "password") %>
			<%= submit "Sign in" %>
		<% end) %>
	</div>
</div>
