<div class="card workers">
<div>
  <table>
    <tr>
      <th><%= gettext("User") %></th>
      <th><%= gettext("Frames") %></th>
    </tr>
    <%= for user <- @users |> Enum.filter(&(&1.frames > 0)) do %>
      <tr>
        <td><%= user.username %></td>
        <td><%= user.frames %></td>
      </tr>
    <% end %>
  </table>
</div>
</div>
