@import "../node_modules/nprogress/nprogress.css";
@import url("https://fonts.googleapis.com/css2?family=Signika&family=Roboto&display=swap");

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert p {
  margin-bottom: 0;
}

.alert:empty {
  display: none;
}

.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

.hidden {
  display: none;
}

html {
  font-family: "Roboto", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  overflow: hidden;
}

body>div {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;

  nav {
    font-family: "Signika", sans-serif;
    display: flex;
    border-bottom: 1px solid black;
    align-items: stretch;
    font-size: 1.1em;
    background-color: rgba(255, 255, 255, 0.7);

    a {
      display: inline-block;
      padding: 0.25em;
      text-decoration: none;
      color: rgba(0, 0, 0, 0.7);
    }

    a:hover {
      background-color: rgba(0, 0, 0, 0.1);
      color: rgba(0, 0, 0, 0.8);
    }

    a.header-active {
      text-decoration: underline;
    }
  }
}

main {
  display: flex;
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
}

table {
  border-collapse: collapse;
}

table th:not(:last-child),
table td:not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.4);
}

table th {
  font-weight: 400;
  padding: 0.1em 0.4em;
}

table tr:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

table td {
  padding: 0.1em 0.4em;
}

table tr:nth-child(2n) {
  background-color: rgba(0, 0, 0, 0.04);
}

.card:not(:last-child) {
  margin-bottom: 0.5em;
}

.card>div {
  padding: 0.25em;
  display: inline-block;
  border-radius: 0.2em;
  box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
}

@import "./buttons.css";
@import "./modals.css";
