@import url("https://fonts.googleapis.com/css2?family=Signika&family=Roboto&display=swap");
@import "window", "buttons", "user", "workers", "projects";

@media only screen and (max-width: 767px) {
  body {
    font-size: 1.4em;
  }
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert p {
  margin-bottom: 0;
}

.alert:empty {
  display: none;
}

.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

.hidden {
  display: none;
}

html {
  font-family: "Roboto", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  overflow: hidden;

  > div.phx-connected,
  > div.phx-disconnected,
  > div.app {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;

    nav {
      font-family: "Signika", sans-serif;
      display: flex;
      border-bottom: 1px solid black;
      align-items: stretch;
      font-size: 1.1em;
      background-color: rgba(255, 255, 255, 0.7);
      overflow-x: auto;

      a {
        display: block;
        padding: 0.25em;
        text-decoration: none;
        white-space: nowrap;
        color: rgba(0, 0, 0, 0.7);
      }

      a:hover {
        background-color: rgba(0, 0, 0, 0.1);
        color: rgba(0, 0, 0, 0.8);
      }

      a.header-active {
        text-decoration: underline;
      }
    }
  }
}

main {
  display: flex;
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
  flex-direction: column;

  > div {
    overflow-x: auto;
  }
}

table {
  font-weight: 400;
  border-collapse: collapse;

  th:not(:last-child),
  td:not(:last-child) {
    border-right: 1px solid rgba(0, 0, 0, 0.4);
  }

  th {
    font-weight: 400;
    padding: 0.1em 0.4em;
  }

  td {
    padding: 0.1em 0.4em;
  }

  tr:nth-child(2n) {
    background-color: rgba(0, 0, 0, 0.04);
  }
}

table table table tr:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.card {
  margin: 0.5em;
  overflow: visible;

  > div {
    padding: 0.5em;
    display: inline-block;
    border-radius: 0.2em;
    box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.4);
    background-color: rgba(255, 255, 255, 0.2);
  }
}

.card:not(:last-child) {
  margin-bottom: 0;
}

.square {
  width: 1.3em;
  height: 1.3em;
  line-height: 1em;
  padding: 0;
  font-size: 1.3em;
  background: none;
  border: none;
  background-color: rgba(100, 100, 100, 0);
  position: relative;
}

.circle {
  width: 1.3em;
  height: 1.3em;
  line-height: 1em;
  padding: 0;
  font-size: 1.3em;
  background: none;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 1.3em;
  position: relative;
}

.circle:active {
  background-color: rgba(255, 255, 255, 0.4);
}

.circle::before {
  top: 0;
  left: 0;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.6);
  border-radius: 1.4em;
  display: block;
  opacity: 0;
}

.circle:hover::before {
  opacity: 0.5;
}

.circle:active::before {
  opacity: 1;
}

hr {
  margin: 0.5em 0.25em;
}
