@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/materialIcons.ttf") format("truetype");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 1em;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
}

input {
  padding: 0.3em 0.5em;
}

input,
select,
button {
  font-size: 0.8em;
  border-radius: 0.25em;
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.1);
}

input:disabled,
select:disabled,
button:disabled {
  background: rgba(150, 150, 150, 0.3);
}

select {
  padding: 0.25em;
}

button,
input[type="submit"] {
  padding: 0.25em 0.5em;
}

button:not(:disabled),
input[type="submit"]:not(:disabled) {
  cursor: pointer;
}

button:not(:disabled):hover,
input[type="submit"]:not(:disabled):hover {
  background-color: rgba(230, 230, 230, 0.5);
}
