.Grav1Web-ProjectsLive {
  >div {
    display: flex;
    overflow: hidden;
    flex: 1;
  }

  #sidebar_left {
    overflow-y: none;
    border-right: 1px solid rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    width: 17.5em;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
  }

  .project {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    position: relative;
    margin-bottom: 0.25em;
    animation: fadein 0.2s;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 0.25em 0.5em;
    cursor: pointer;

    .top {
      font-size: 0.9em;
      margin-bottom: 0.25em;
    }

    .bottom {
      font-size: 0.7em;
      width: 100%;
      position: relative;
      line-height: 1em;
      display: flex;
      justify-content: center;

      * {
        z-index: 0;
      }

      .progress_bar {
        max-width: 100%;
        height: 100%;
        width: 0%;
        background-color: rgba(80, 210, 240, 0.4);
        position: absolute;
        left: 0;
        transition: width 0.5s;
      }

      div:not(:first-child) {
        padding: 0 0.2em;
      }

      .progress_left {
        flex: 1;
      }

      .progress_center {
        text-align: center;
      }

      .progress_right {
        text-align: right;
        flex-shrink: 0;
      }
    }

    div:first-child>div:last-child {
      font-size: 0.8em;
    }
  }

  .project:hover {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4), 0px -2px 4px rgba(0, 0, 0, 0.2);
    background-color: rgba(230, 230, 230, 0.6);
  }

  .project.selected {
    background-color: rgba(230, 230, 230, 0.6);
  }

  .page_project {
    flex: 1;
    overflow: hidden;
  }

  #text_refresh {
    flex: 1;
    text-align: right;
    align-self: center;
    margin: 0 0.5em;
  }

  .body_inner {
    display: flex;
    overflow: hidden;
    flex: 1;
  }

  #list_projects {
    overflow-y: scroll;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    flex: 1;
    padding-top: 0.25em;
  }

  .list_projects-controls {
    display: flex;
    flex-direction: column;

    >div {
      margin: 0.25em 0.25em 0 0.25em;
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      >* {
        flex: 1;
        margin: 0.25em;
      }
    }

    >div:last-child {
      margin-bottom: 0.25em;
    }

    >div:not(:last-child) {
      >*:not(last-child) {
        margin: 0.25em 0.25em 0 0.25em;
      }
    }
  }

  #input_filter_projects {
    flex: 1;
  }

  @keyframes fadein {
    from {
      opacity: 0;
      transform: translateY(-1em);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fadein2 {
    from {
      transform: scale(0.99);
      opacity: 0;
    }

    to {
      transform: scale(1);
      opacity: 1;
    }
  }

  button {
    cursor: pointer;
  }

  .notification {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 0.5em;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid rgb(50, 50, 50);
  }

  .notification.error {
    color: red;
  }

  .range {
    margin: 0 0.5em 0 0;
    width: 10em;
  }

  .input_number {
    width: 4em;
  }
}

#_add_project_e {
  input[type=number] {
    width: 5em;
  }

  input:last-child {
    float: right
  }

  #encoder_params>div>div>div>div,
  .extra_cat>div {
    display: flex;
    align-items: center;
    padding-right: 0.1em;

    >label {
      flex: 1;
    }
  }

  #files_list>div {
    display: flex;
    align-items: center;
    padding-right: 0.1em;

    input {
      flex: 1;
    }
  }
}

@import "./project.scss";