.Grav1Web-UserLive {
  > div {
    flex-shrink: 0;
  }

  .userinfo {
    div > span:not(:last-child) {
      margin-right: 0.5em;
    }
  }

  .card.workers table {
    border-radius: 0.25em;
    box-shadow: 0em 0em 2px rgba(0, 0, 0, 0.3);
  }

  .username {
    margin: 0.25em 0.5em;
    font-size: 1.4em;
  }

  .col_max_workers {
    cursor: pointer;
    background-color: rgba(120, 120, 120, 0.1);
  }
}
