<%= link("projects", to: Routes.page_path(@conn, :projects)) %>
<br>
<%= link("workers", to: Routes.page_path(@conn, :workers)) %>

<script defer type="text/javascript" src='<%= Routes.static_path(@app, "/js/projects.js") %>'></script>
