<div class="card">
<div class="versions">
  <div class="title"><%= gettext("Versions") %></div>
  <div class="body">
    <%= for {p, version} <- Application.get_all_env(:versions) do %>
      <div>
        <span><%= p %></span>
        <span><%= version %></span>
      </div>
    <% end %>
  </div>
</div>
</div>

<link rel="stylesheet" href='<%= Routes.static_path(@conn, "/css/index.css") %>'/>
