<div id="proj_<%= @project.id %>" class="project<%= if @selected, do: " selected" %>" data-id="<%= @project.id %>" phx-hook="select_project">
  <div class="top"><%= render_project_name(@project) %></div>
  <div class="bottom">
    <%= render_project_progressbar(@project) %>
    <div class="progress_left">
      <%= render_project_left(@project) %>
    </div>
    <div class="progress_right">
      <%= render_project_right(@project) %>
    </div>
  </div>
</div>
