<div id="<%= @id %>" class="logs">
  <%= for {timestamp, message} <- @log do %>
    <div class="message">
      <span class="timestamp">[<%= timestamp %>]</span>
      <%= for line <- String.split(message, "\n") do %>
      <div><%= line %></div>
      <% end %>
    </div>
  <% end %>
</div>
