<table>
  <tr>
    <th>socket id</th>
    <th>name</th>
    <th>user</th>
    <th>workers</th>
  </tr>
  <%= for {k, client} <- @workers.clients do %>
    <tr>
      <td><%= client.socket_id %></td>
      <td><%= client.name %></td>
      <td><%= client.user %></td>
      <td><%= client.workers %></td>
    </tr>
  <% end %>
</table>
